/* Colors: */
/* main: #436775; */
/* secondary: #87c08d; */
/* tertiary: #cbfcf0; */

/* font: */
/* heading: Kanit (Bold 700) */
/* body: Kanit (Light 300) */

/* Setup */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
/* End of Setup */

/* Global Styling */
html {
  font-size: 125%;
  height: 100%;
}

body {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
}
/* End of Global Styling */

/*Button Styling */
.formSubmit {
  border: none;
  background-color: #87C08D;
  color: white;
  /* text-shadow: 1px 1px #000; */
  padding: 20px 40px;
  border-radius: 40px;
  margin-bottom: 12px;
  border: 1px solid #87C08D;
}

.formSubmit:hover {
  color: #436775;
  background-color: #CBFCF0;
  transition: transform 1.3s ease-in-out;
  border: 1px solid #436775;
}

.searchButton {
  border: none;
  background-color: #87C08D;
  color: white;
  border-radius: 40px;
  width: 150px;
  padding: 10px 20px;
}

/*App and Wrapper Styling */
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* Specific Styling */

/* Typography */

h1, h2, h3, h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

h1, h2, h3.searchResults {
  letter-spacing: .2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 40px;
  padding-top: 20px;
}

.infoContainer h3 {
  font-size: 1.4rem;
  padding-bottom: 16px;
}

.searchResults {
  font-size: 2.4rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

.user {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.publishContainer h4 {
  font-size: 1.4rem;
}

.publishContainer {
  font-size: 1.2rem;
}

footer {
  font-size: .8rem;
}
/* End of Typography */

/*Header & Nav Styling */
header {
  background: url('./assets/heroImage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* min-height: 740px; */
}

header h1 {
  text-align: center;
  color: #fff;
  padding-top: 26px;
}

header span {
  color: #91f39a;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px;   */
  padding: 5px;
  background: #436775;
  color: white;
}

.navBar h4 {
  padding-left: 12px;
}

.navBar span {
  color: #91f39a;
}

.navBar ul {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.navBar li {
  padding: 8px;
  margin: 0 4px;
  text-align: center;
}

.navBar li:hover {
  background: #CBFCF0;
  border: none;
  border-radius: 40px;
}

.navBar a {
  text-decoration: none;
  color: white;
}

.navBar a:hover {
  color: #436775;
}
/*End of Header & Nav Styling */

/*User Details Form on Home Page Styling */

main {
  background-image: url("./assets/backgroundImage.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.userInputForm, .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.userInputForm p {
  /* width: 500px; */
  text-align: center;
  padding: 12px;
  /* padding-top: 0; */
  color: #87C08D;
  line-height: 1rem;
}

.userInputForm p:nth-of-type(2) {
  padding-top: 0;
}

.userInputForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80%;
  border: none;
  background: transparent;
  color: #87C08D;
  border-bottom: 2px solid #87C08D;
}

::placeholder {
  color: #fff;
}

.userInputForm select {
  padding: 10px;
  margin: 10px 10px 40px;
  width: 80%;
  appearance: none;
  color: #929093;
  background: transparent;
  background-image: url('./assets/arrow.png');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border: none;
  border-bottom: 2px solid #87C08D;
}

option {
background: rgb(0, 0, 0);
}

/*Events and Search Styling */

.noResults {
  text-align: center;
  color: red;

}

.search {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search h2 {
  color: #fff;
}

.search h2 span {
  color: #91f39a;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar input {
  width: 300px;
}

h3.searchResults {
  color: white;
  padding-top: 28px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 100%;
}

p.loading {
  color: #fff;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  color: #436775;
  border-radius: 10px;
  width: 320px;
  margin-bottom: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.infoContainer span {
  color: #436775;
  text-transform: uppercase;
}

.infoContainer h3 {
  text-align: center;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.dataContainer p {
  padding: 8px 0;
  color: black;
}

.infoContainer a {
  text-decoration: none;
  color: #436775;
  padding: 5px 0;
  border-radius: 20px;
  text-align: center;
  width: 60%;
  border: 1px solid transparent;
}

.infoContainer a:hover {
  background: #CBFCF0;
  border: 1px solid #436775;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.budgetInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.budgetInputs button {
  border: none;
  background: #87c08d;
  color: white;
  padding: 8px 0;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #87C08D;
  text-align: center;
  width: 40%;
}

.budgetInputs button:hover {
  background: #CBFCF0;
  color: #436775;
  border: 1px solid #436775;
}

.budgetInputs p {
  color: #436775;
}
.budgetInputs span {
  color: #0cb41c;
  font-weight: 700;
}

/* User Lists Styling */


.publishButton {
  border: none;
  border: 1px solid #87C08D;
  background-color: #87C08D;
  color: white;
  border-radius: 40px;
  width: 150px;
  padding: 10px 20px;
}

.publishButton:hover {
  background: #CBFCF0;
  color: #436775;
  border: 1px solid #436775;
}

/* Published List Styling */

.user {
  border: 2px solid #436775;
  border-bottom: none;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  /* flex-direction: column; */
}

.user span {
  color: #91f39a;
}

.fullList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; 
}
.publishedEvents {
  border: 2px solid #436775;
  border-top: none;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
  padding-top: 40px;
}

.publishContainer {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  color: #436775;
  border-radius: 10px;
  width: 400px;
  margin-bottom: 25px;
  padding: 5px;
  
}

.publishContainer h4 {
  text-align: center;
}

.publishContainer span {
  color: #0cb41c;
  font-weight: 700;
}


.publishContainer p {
  text-transform: uppercase;
}

.publishContainer a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  border-radius: 20px;
  width: 60%;
  background: #87c08d;
  border: 1px solid #87c08d;
}

.publishContainer a:hover {
  background: #CBFCF0;
  color: #436775;
  border: 1px solid #436775;
}

/*Footer Styling */
footer {
  text-align: center;
  background: #436775;
  color: white;
  padding: 10px;
  
}

footer a {
  color: #87c08d;
  text-decoration: none;

}

/*RESPONSIVE */
@media (min-width: 1400px) {}
/* Portrait tablet and small desktops */
@media (max-width: 940px){}
/* Landscape phone to portrait tablet */
@media (max-width: 768px){

  h2 {
    font-size: 2.8rem;
  }
  .publishContainer {
    width: 300px;
  }
}

@media (max-width: 530px) {

  html {
    font-size: 100%;
  }

  header {
    height: 100vh;
  }

  .userInputForm {
    width: 400px;
  }

  .formSubmit {
    padding: 18px 32px;
  }
}
/* Landscape phones and down */
@media (max-width: 430px){

  h1 {
    font-size: 3.6rem;
  }

  .navBar a {
    font-size: 0.8rem;
  }

  .userInputForm {
    width: 360px;
  }

  .publishContainer {
    width: 260px;
  }
}

/*Responsive Media Query Only */
@media (max-width: 375px) {
  html {
    font-size: 90%;
  }

  h2 {
    font-size: 2.4rem;
  }

  .userInputForm {
    width: 320px;
  }

  .eventContainer {
    width: 300px;
  }
}

/* Small Phones and down */
@media (max-width: 340px) {
  h1 {
    font-size: 3.4rem;
  }
  .userInputForm {
    width: 290px;
  }
}
